<ion-view title="name1" id="page1">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="name1-form3" class="list">
      <label class="item item-input" id="name1-input6">
        <span class="input-label">First Name:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="name1-input7">
        <span class="input-label">Last Name:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="name1-input8">
        <span class="input-label">Email:</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="name1-input9">
        <span class="input-label">Phone Number:</span>
        <input type="tel" placeholder="">
      </label>
      <button id="name1-button4" class="button button-positive button-block">Save</button>
    </form>
  </ion-content>
</ion-view>